<% include partials/header %>

<div class="container">
<% include partials/messages %>
<h1>collabO</h1>
    <section class="greybox" id="activeproj">
        <h3>Globally Active Projects</h3>
            <button class="btnlink">
        <a href="/p/new">Add Project</a>
    </button>
        <hr class="line">
            <% projects.forEach(function(project){ %>
            <button class="bluelink">
                <a href="/p/<%= project._id%>"><%= project.title %></a>
            </button>
            <% }) // End of projects.forEach;%>
    </section>
    <section class="greybox">
    <h5>Updates</h5>
        <ul id="updateUl">
        <% projects.reverse().forEach(function(project){ %>
            <% project.updates.forEach(function(update){ %>
                    <li>
                        <a href="/p/<%= project.id %>">
                            <% if(update.name === name) {%>
                                <span class="highlight">You</span>
                            <%} else { %>
                                <span class="highlight"><%= update.name %></span> 
                            <% } %> 
                            created a project workplace
                            <span class="highlight"><%= update.projectName%></span>
                        </a>
                    </li>
                    <div class="timeline"></div>
            <% }); //End of updates.forEach %>
        <% }); // End of projects.forEach  %>
        </ul>
    </section>
</div>


<% include partials/footer %>