<% include ../partials/header %>

<div class="container">
    <h1>New Task in [<%= project.title %>]</h1>
    <span>(Project ID <%=project._id%>)</span>
    <hr class="line">
    <form action="/p/<%= project._id %>" method="POST">
      <div class="block">
          <label for="task">Task</label>
          <textarea type="text" id="task" name="task" aria-describedby="task"></textarea>
      </div>
      <div class="block">
          <label for="priority">Priority</label><br>
          <select id="priority" name="priority">
            <option value="Low" value="Low">Low</option>
            <option value="Medium" value="Medium">Medium</option>
            <option value="High" value="High">High</option>
          </select>
      </div>
      <hr class="line"/>
      <div class="block">
          <label for="assigned">Assign To</label>
          <% user.forEach(function(user){ %>
            <input type="checkbox" id="assigned" name="assigned" value="<%= user.name %>" aria-describedby="assigned">
                <%= user.name %>
            </input>
          <% }); %>
      </div>
      <div class="block">
          <label for="dueDate">Due </label>
          <input type="text" id="dueDate" name="dueDate">
      </div>
      <button>Submit</button>
    </form>
</div>

<% include ../partials/footer %>