<% include ../partials/header %>

<div class="container">
  <div class="greybox">
    <h3>Setup task in <span class="highlight"><%= project.title %></span></h3>
    <span class="digit">Project ID <%= project.id %></span>
    <hr class="line">
    <form action="/p/<%= project._id %>" method="POST">
      <div class="block">
          <label for="task">Task</label>
          <textarea type="text" id="task" name="task" aria-describedby="task"></textarea>
      </div>
      <hr class="line"/>
      <div class="block">
          <label for="priority">Priority</label>
          <select id="priority" name="priority">
            <option value="Low" value="Low">Low</option>
            <option value="Medium" value="Medium">Medium</option>
            <option value="High" value="High">High</option>
          </select>
      </div>
      <div class="block">
          <label for="assigned">Assign To</label>
          <% user.forEach(function(user){ %>
            <input type="checkbox" id="assigned" name="assigned" value="<%= user.name %>" aria-describedby="assigned">
                <%= user.name %>
            </input><br>
          <% }); %>
      </div>
      <div class="block">
          <label for="dueDate">Due </label>
          <input type="text" id="dueDate" name="dueDate">
      </div>
      <button class="btnlink submitBtn">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>