<% include ../partials/header %>

<div class="container">
  <% include ../partials/messages %>
  <% include ../partials/userSection %>
  <section class="mainSection">
    <section class="greybox">
      <h4 class="fl clearfix"><%= project.title %></h4>
      <% if(currentUser && project.author.id.equals(currentUser._id)){ %>
        <div class="options rightFloater">
          <button class="btnlink">
            <a href="/p/<%= project.id %>/edit">Edit</a>
          </button>
          <button class="btnlink">
            <a href="/p/<%= project.id %>/assign">Add Member</a>
          </button>
          <form class="deleteForm" action="/p/<%= project._id %> %>?_method=DELETE" method="POST">
            <button type="submit" class="btnlink deleteBtn">Delete</button>
          </form>
        </div>
      <% } %>
      <hr class="line"/>
      <p><%= project.description %></p>
      <div class="userImgHold simptip-position-bottom simptip-fade" data-tooltip="Admin: <%= project.author.name %>">
        <img src="/pro-img/<%= project.author.profileImg %>" class="user admin">
      </div>
      <% project.members.forEach(function(member){ %>
        <div class="userImgHold simptip-position-bottom simptip-fade" data-tooltip="<%= member.name %>">
          <img src="/pro-img/<%= member.profileImg %>" class="user">
        </div>
      <% }) %>
    </section>
    <section class="greybox">
      <h4 class="fl">Tasks</h4>
      <div class="rightFloater">
        <button class="btnlink"><a href="/p/<%= project._id %>/newtask" data-icon="&#xe044;">Add New Task</a></button>
      </div>
      <hr class="line"/>
      <%
      var amount = project.tasks.length;
      if(amount === 0){
      %>
        <p class="ctr">There are no tasks, yet. Click "Add New Task" button to add your first task!</p>
      <% }else{ %>
        <% project.tasks.forEach(function(task){ %>
          <div class="taskbox">
            <div class="userImgHold simptip-position-bottom simptip-fade" data-tooltip="<%= task.createdby.name %>">
              <img src="/pro-img/<%= task.createdby.profileImg %>" class="user">
            </div>
            <span><%= task.task %></span>
          </div>
        <% }); %>
      <% } %>
    </section>
  </section>
</div>

<% include ../partials/footer %>