<% include ../partials/header %>


 
<div class="container">
<span class="digit"> ID <%=project.id%> </span>
<% include ../partials/messages %>
<section class="greybox">
    <h3><%= project.title %></h3>
    <hr class="line"/> 
    <p><%= project.description %></p>
    <button class="btnlink">
        <a href="/p/<%= project.id %>/edit">Edit</a>
    </button>
    <form class="deleteForm" action="/p/<%= project._id %>%>?_method=DELETE" method="POST">
        <input type="submit" class="deleteBtn btnlink" value="Delete">
    </form>
</section>
<section class="greybox">
    <h3 class="ctr">Tasks</h3>
    <hr class="line"/>
    <button class="btnlink"><a href="/p/<%= project._id %>/new">Add Task</a></button>
    <% project.tasks.forEach(function(task){ %>
    <div class="taskbox">
        <h5><%= task.task %></h5>
        <span class="priority" id="priohigh"><%= task.priority %></span>
        
        <div class="grpAssigned">
        <%  
            var asgdUsers = task.assigned; 
            var i;
            for (i = 0; i < asgdUsers.length; i++) { 
        %>
                <span class="assigned"><%= asgdUsers[i] %></span>
            
        <%  } %>
 
        </div>
        <span class="dueDate"><%= task.dueDate%></span>
        <span class="dueDate">By: <%= task.createdby.name %></span>
        <form class="deleteForm" action="/p/<%= project._id %>/<%= task._id %>?_method=DELETE" method="POST">
            <input type="submit" class="deleteBtn btnlink" value="Delete">
        </form>
        <button class="btnlink">
            <a href="/p/<%= project._id %>/<%= task._id %>/edit">Edit</a>
        </button>
    </div>
    <% }); %>
</section>
</div>

<% include ../partials/footer %>