<% include ../partials/header %>

<div class="container">
<span class="digit"> ID <%=project.id%> </span>
<% include ../partials/messages %>
<section class="greybox">
    <h4><%= project.title %></h4>
    <p><%= project.description %></p>
    <% project.members.forEach(function(member){ %>
        <span><img src="/pro-img/<%= member.profileImg %>" style="width:15px;height:15px"><%= member.name %></span>
    <% }) %>
    </br>
        <% if(currentUser && project.author.id.equals(currentUser._id)){ %>
            <button class="btnlink">
                <a href="/p/<%= project.id %>/edit">Edit</a>
            </button>
            <button class="btnlink">
                <a href="/p/<%= project.id %>/assign">Add Member</a>
            </button>
            <form class="deleteForm" action="/p/<%= project._id %>%>?_method=DELETE" method="POST">
                <input type="submit" class="deleteBtn btnlink" value="Delete">
            </form>
        <% }; %>
</section>
<section class="greybox">
    <h4>Tasks</h4>
    <hr class="line"/>
    <% 
        var amount = project.tasks.length;
        if(amount === 0){
    %>
        <p class="ctr"> There are no tasks, woop woop! Click here <button class="btnlink"><a href="/p/<%= project._id %>/newtask">+</a></button> to add new task!</p>
    <% }else{ %>
    <% project.tasks.forEach(function(task){ %>
    <div class="taskbox">
        <p><%= task.task %></p>
        <span class="priority" id="priohigh"><%= task.priority %></span>
        
        <div class="grpAssigned">
        <%  
            var asgdUsers = task.assigned; 
            var i;
            for (i = 0; i < asgdUsers.length; i++) { 
        %>
                <span class="assigned"><%= asgdUsers[i] %></span>
            
        <%  } %>
 
        </div>
        <span class="dueDate"><%= task.dueDate%></span>
        <span class="dueDate">By: <%= task.createdby.name %></span>
        <form class="deleteForm" action="/p/<%= project._id %>/<%= task._id %>?_method=DELETE" method="POST">
            <input type="submit" class="deleteBtn btnlink" value="Delete">
        </form>
        <button class="btnlink">
            <a href="/p/<%= project._id %>/<%= task._id %>/edit">Edit</a>
        </button>
    </div>
    <% }); %>
    <% } %>
</section>
</div>

<% include ../partials/footer %>