<% include ../partials/header %>

<div class="container">
<% include ../partials/messages %>
<section class="greybox">
    <h4 class="fl clearfix"><%= project.title %></h4>
            <% if(currentUser && project.author.id.equals(currentUser._id)){ %>
            <div class="options rightFloater">
                <button class="btnlink">
                    <a href="/p/<%= project.id %>/edit">Edit</a>
                </button>
                <button class="btnlink">
                    <a href="/p/<%= project.id %>/assign">Add Member</a>
                </button>
                <form class="deleteForm" action="/p/<%= project._id %>%>?_method=DELETE" method="POST">
                    <button type="submit" class="btnlink deleteBtn">Delete</button>
                </form>
            </div>
        <% }; %>
    <hr class="line"/>
    <p><%= project.description %></p>
    <% project.members.forEach(function(member){ %>
        <div class="userImgHold">
            <img src="/pro-img/<%= member.profileImg %>" class="user">
        </div>
    <% }) %>
</section>
<section class="greybox">
    <h4 class="fl">Tasks</h4>
    <div class="rightFloater">
    <button class="btnlink"><a href="/p/<%= project._id %>/newtask" data-icon="&#xe044;">Add New Task</a></button>
    </div>
    <hr class="line"/>
    <% 
        var amount = project.tasks.length;
        if(amount === 0){
    %>
        <p class="ctr"> There are no tasks, yet. Click "Add New Task" button to add your first task!</p>
    <% }else{ %>
    <% project.tasks.forEach(function(task){ %>
    <div class="taskbox">
        <p><%= task.task %></p>
        <span class="priority" id="priohigh"><%= task.priority %></span>
        
        <div class="grpAssigned">
        <%  
            var asgdUsers = task.assigned; 
            var i;
            for (i = 0; i < asgdUsers.length; i++) { 
        %>
                <span class="assigned"><%= asgdUsers[i] %></span>
            
        <%  } %>
 
        </div>
        <span class="dueDate"><%= task.dueDate%></span>
        <span class="dueDate">By: <%= task.createdby.name %></span>
        <form class="deleteForm" action="/p/<%= project._id %>/<%= task._id %>?_method=DELETE" method="POST">
            <input type="submit" class="deleteBtn btnlink" value="Delete">
        </form>
        <button class="btnlink">
            <a href="/p/<%= project._id %>/<%= task._id %>/edit">Edit</a>
        </button>
    </div>
    <% }); %>
    <% } %>
</section>
</div>

<% include ../partials/footer %>